body {
	background-color: #000000;
}

.bio {
	color: #FFFFFF;
	text-align: center;
}

.nav {
	color: #FFFFFF;
	text-align: center;
}

.glitch {
	font-size: 100px;
	color: white;
	position: relative;
	text-align: center;
}

@keyframes glitch-anim-1 {
	0% {
	    clip: rect(67px, 2000px, 83px, 0);
	}
	5.88235% {
	    clip: rect(94px, 2000px, 18px, 0);
	}
	11.76471% {
	    clip: rect(103px, 2000px, 55px, 0);
	}
	17.64706% {
	    clip: rect(57px, 2000px, 74px, 0);
	}
	23.52941% {
	    clip: rect(41px, 2000px, 51px, 0);
	}
	29.41176% {
	    clip: rect(73px, 2000px, 110px, 0);
	}
	35.29412% {
	    clip: rect(75px, 2000px, 98px, 0);
	}
	41.17647% {
	    clip: rect(11px, 2000px, 61px, 0);
	}
	47.05882% {
	    clip: rect(59px, 2000px, 31px, 0);
	}
	52.94118% {
	    clip: rect(85px, 2000px, 96px, 0);
	}
	5.82353% {
	    clip: rect(86px, 2000px, 80px, 0);
	}
	64.70588% {
	    clip: rect(115px, 2000px, 15px, 0);
	}
	70.58824% {
	    clip: rect(22px, 2000px, 99px, 0);
	}
	76.47059% {
	    clip: rect(115px, 2000px, 52px, 0);
	}
	82.35294% {
	    clip: rect(32px,2000px,25px,0);
	}
	88.23529% {
	    clip: rect(42px, 2000px, 50px, 0);
	}
	94.11765% {	
	    clip: rect(31px, 2000px, 46px, 0);
	}
	2000px {
	    clip: rect(102px, 2000px, 40px, 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
	    clip: rect(105px, 2000px, 57px, 0);
	}
	5.88235% {
	    clip: rect(69px, 2000px, 110px, 0);
	}
	11.76471% {
	    clip: rect(40px, 2000px, 100px, 0);
	}
	17.64706% {
	    clip: rect(18px, 2000px, 45px, 0);
	}
	23.52941% {
	    clip: rect(88px, 2000px, 55px, 0);
	}
	29.41176% {
	    clip: rect(60px, 2000px, 4px, 0);
	}
	35.29412% {
	    clip: rect(24px, 2000px, 48px, 0);
	}
	41.17647% {
	    clip: rect(72px, 2000px, 111px, 0);
	}	
	47.05882% {
            clip: rect(60px, 2000px, 76px, 0);
    	}
    	52.94118% {
            clip: rect(33px, 2000px, 53px, 0);
    	}
    	58.82353% {
       	    clip: rect(96px, 2000px, 91px, 0);
    	}
    	64.70588% {
	    clip: rect(37px, 2000px, 95px, 0);
	}
	70.58824% {
	    clip: rect(79px, 2000px, 24px, 0);
	}
	76.47059% {
	    clip: rect(31px, 2000px, 62px, 0);
	}		
	82.35294% {
	    clip: rect(21px, 2000px, 74px, 0);
	}
	88.23529% {
	    clip: rect(99px, 2000px, 102px, 0);
	}
	94.11765% {
	    clip: rect(30px, 2000px, 22px, 0);
	}
	2000px {
	    clip: rect(16px, 2000px, 76px, 0);
	}
}

.glitch:before, .glitch:after {
	 content: attr(data-text);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 background: black;
	 clip: rect(0, 0, 0, 0);
}

.glitch:after {
	left: 2px;
	text-shadow: -1px 0 red;
	animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch:before {
	left: -2px;
	text-shadow: 2px 0 blue;
	animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
