body {
  background-color: white;
  font-family: Raleway;
  color: black;
  font-size: medium;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 8vw;
  text-shadow:
    -2px -2px 0 lavender,
    2px -2px 0 lavender,
    -2px 2px 0 lavender,
    2px 2px 0 lavender;
}

h4 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: xx-large;
}

h5 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: x-large;
}

h6 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: large;
}

.social {
  color: black;
  text-align: center;
}

.nav-link {
  font-size: 2vw;
  color: thistle;
  font-weight: lighter;
}

.nav-link:hover {
  color: lavender;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  background-color: white;
  font-weight: bolder;
  color: black;
}

.container {
  padding: 10px;
}

.actual-content {
  margin-left: 15%;
  margin-right: 15%;
}

img {
  padding: 10px
}

a:link {
  color: thistle;
}

a:visited {
  color: thistle;
}

a:hover {
  text-decoration: none;
  color: thistle;
  font-weight: bold;
}
